<% @messages.each do |mes| %>
	<div class="col-md-10 col-md-offset-1">
		<div class="message">

			<h2 class="message-title"><%= link_to mes.title, mes %></h2>
			<p><%= truncate(mes.description, length: 100) %></p>
		</div>
	</div>
<% end %>

<%= link_to "Create new message", new_message_path %>